.manageCardDesign{
    overflow: hidden;
    width: 100%;
    background: whitesmoke;
    border-radius: 10px;
    transition: all 0.2s;
}
.manageCardDesign:hover{
    transform: scale(0.98);
    background:rgb(255, 255, 255);
    transition: all 0.4s;
}
.manageCardHeader img{
    width: 8rem;
    height: 8rem;
    padding: .5rem;
    border-radius: 15px;
}